#add-reminder-btn {
  background: #2a29ca;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 25px;
  z-index: 10;
}

.fa-plus:before {
  content: "\f067";
  color: white;
  cursor: pointer;
}

.fa-plus:hover {
  font-size: 22px;
}